nav {
    height: 100px;
}

#mainContent {
    margin-top: 150px;
}

body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
}

p {
    color: white;
}

.card {
    background-color: grey;
}